body {
  background: white;
  font-family: Arial, sans-serif;
  background-color: #4c8baf;
}

.container {
  background: white;
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

input {
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  padding: 8px 15px;
  background: #4c8baf;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #45a049;
}